
/.vscode
/models
/data

# python
/python-model-trainer/.venv

# c#

bin
obj
appsettings.json
appsettings.Development.json
/.vs
/python-model-trainer/env1
/CSharpModelTrainerApi/app.db-shm
/CSharpModelTrainerApi/app.db-wal
