

/.vscode
/models
/data

# python
.venv/
__pycache__/
*.pyc
*.pyo
/python-model-trainer/env1

# c#
bin/
obj/
appsettings.json
appsettings.Development.json
*.user
/.vs
UpgradeLog.htm

/CSharpModelTrainerApi/app.db-shm
/CSharpModelTrainerApi/app.db-wal
/CSharpModelTrainerApi/app.db
