@page "/lungCancer/inference"
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using System.Globalization
@using SharedCL.LungCancerPrediction.Models
@using SharedCL.Shared.Models
@using WebApp.LungCancerPrediction.ApiClients
@using WebApp.SharedKernel
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Microsoft.AspNetCore.Components.Forms
@inject CSharpLungCancerApiClient CSharpLungCancerApi
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@rendermode InteractiveServer

<PageTitle>Rak pluća </PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mb-16">
    <MudPaper Class="pa-6 mt-6" Elevation="15">
        <MudGrid>
            <MudItem xs="12" Style="position: relative; display: flex; align-items: center; min-height: 48px; margin-bottom: 30px;">
                <MudIconButton Style="margin-left: 24px; position: absolute; left: 0;" Icon="@Icons.Material.Filled.ArrowBack"
                               Variant="Variant.Filled" Color="Color.Primary" Href="/lungCancer" />
                <MudText Style="width: 100%; text-align: center;" Typo="Typo.h5">Analiza Rak Pluća</MudText>
            </MudItem>
            <MudItem xs="12">
                <MudForm @ref="_form">

                    <MudPaper Class="pa-4 mb-4" Elevation="0">
                        <MudPaper Outlined="true" Class="pa-4 mb-4">
                            <MudText Typo="Typo.subtitle1" Class="mb-3"><b>Odaberite sliku pluća</b></MudText>
                            <MudFileUpload T="IBrowserFile" @bind-Files="_file" Required="true" RequiredError="Slika je obavezna!" Accept=".png,.jpg,.jpeg" Hidden="false" />
                        </MudPaper>

                        <MudSelect T="LungCancerModel" @bind-Value="SelectedModel" Label="Model" Variant="Variant.Outlined"
                                   Required="true" RequiredError="Model Mašinskog Učenja je obavezan!">
                            @foreach (var item in Models)
                            {
                                <MudSelectItem Value="@item">
                                    <div style="display: flex; justify-content: space-between;">
                                        @item.Name
                                    </div>
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudPaper>

                </MudForm>
            </MudItem>
            <MudItem xs="12" Style="display: flex; justify-content: center; gap:1rem;">
                <MudButton OnClick="Predict" Color="Color.Primary" Variant="Variant.Filled"
                           Size="Size.Large" Disabled="_isLoading">
                    @if (_isLoading)
                    {
                        <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
                        <span>Analiziranje...</span>
                    }
                    else
                    {
                        <span>Analiziraj Sliku</span>
                    }
                </MudButton>
                @if (Prediction != null)
                {
                    <MudAlert Variant="Variant.Filled" Dense="true" NoIcon="false">
                        <b>@Prediction.PredictedLabel</b>
                    </MudAlert>
                }
            </MudItem>
        </MudGrid>

    </MudPaper>
</MudContainer>

<MudPaper Class="d-flex justify-center align-center gap-4 pa-4"
          Style="position: fixed; bottom: 0; left: 0; right: 0; z-index: 100;"
          Elevation="10">

</MudPaper>

@code {

    private MudForm _form = null!;
    private IBrowserFile? _file = null;

    private List<LungCancerModel> Models { get; set; } = new List<LungCancerModel>();
    private LungCancerModel SelectedModel = null!;

    private LungCancerPredictionModel Prediction = null!;
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        var result = await CSharpLungCancerApi.GetModelsAsync();
        if (result.IsSuccess)
        {
            Models = result.Data!;
        }
        else
        {
            Snackbar.Add("Greška prilikom učitavanja modela!", Severity.Error);
        }
        await base.OnInitializedAsync();
    }

    private async Task Predict()
    {
        await _form.Validate();
        if (!_form.IsValid)
        {
            StateHasChanged();
            return;
        }

        _isLoading = true;
        StateHasChanged();

        var predResult = await CSharpLungCancerApi.PredictAsync(SelectedModel.Id, _file);
        if (predResult.IsSuccess)
        {
            Prediction = predResult.Data!;
        }
        else
        {
            Snackbar.Add("Greška prilikom analiziranja!", Severity.Error);
        }
        _isLoading = false;
    }

    private async Task ShowModelDetails(LungCancerModel model)
    {
        var parameters = new DialogParameters<LungCancerInfoDialog>
        {
            { x => x.Model, model }
        };

        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.Medium };
        await DialogService.ShowAsync<LungCancerInfoDialog>("Detalji Modela", parameters, options);
    }
}
