@page "/lungCancerPrediction"
@using CsvHelper
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.ML
@using Microsoft.ML.OnnxRuntime
@using Microsoft.ML.OnnxRuntime.Tensors
@using MudBlazor
@using System.Globalization
@using SharedCL.LungCancerPrediction
@using SharedCL.SentimentAnalysis.Mappings
@using SharedCL.SentimentAnalysis.Models
@using WebApp.LungCancerPrediction.Services
@using WebApp.SentimentAnalysis.Services
@using WebApp.SharedKernel
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@inject LungCancerPredictionService LungCancerPredictionService
@using TorchSharp
@using static TorchSharp.torch.nn
@using static TorchSharp.torch.nn.functional


<PageTitle>Lung Cancer Prediction</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mb-16">
    <MudPaper Class="pa-6 mt-6" Elevation="15">
        <MudForm @ref="_form">
            <MudText Typo="Typo.h5" Class="mb-4">Lung Cancer Prediction</MudText>

            <MudPaper Outlined="true" Class="pa-4 mb-4">
                <MudText Typo="Typo.subtitle1" Class="mb-3"><b>Please upload an image</b></MudText>
                <MudFileUpload T="IBrowserFile" @bind-Files="_file" Required="true" RequiredError="An image is required!" Accept=".png,.jpg,.jpeg" Hidden="false"/>
            </MudPaper>

            <MudPaper Outlined="true" Class="pa-4 mb-4">
                <MudText Typo="Typo.subtitle1" Class="mb-3"><b>Machine Learning Model</b></MudText>
                <MudSelect T="PredictionModel" @bind-Value="MLModel" Label="Model" Variant="Variant.Outlined"
                           Required="true" RequiredError="Machine Learning Model is required!">
                    @foreach (var item in MLModels)
                    {
                        <MudSelectItem Value="@item">@item.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudPaper>
        </MudForm>
    </MudPaper>
</MudContainer>

<MudPaper Class="d-flex justify-center align-center gap-4 pa-4"
          Style="position: fixed; bottom: 0; left: 0; right: 0; z-index: 100;"
          Elevation="10">
    <MudButton OnClick="Predict" Color="Color.Primary" Variant="Variant.Filled"
               Size="Size.Large" Disabled="_isLoading">
        @if (_isLoading)
        {
            <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
            <span>Analyzing...</span>
        }
        else
        {
            <span>Make Prediction</span>
        }
    </MudButton>
    @if (Prediction != null)
    {
        <MudAlert Variant="Variant.Filled" Dense="true" NoIcon="false">
            <b>@Prediction.PredictedLabel</b>
        </MudAlert>
    }
</MudPaper>

    @code {

    private MudForm _form = null!;

    private List<PredictionModel> MLModels { get; set; } = new List<PredictionModel>();
    private PredictionModel MLModel = null!;

    private LungCancerPredictionModel Prediction = null!;
    private bool _isLoading = false;


    private IBrowserFile? _file;

    protected override Task OnInitializedAsync()
    {
        MLModels = LungCancerPredictionService.GetModels();
        return base.OnInitializedAsync();
    }

    private async Task Predict()
    {
        await _form.Validate();
        if (!_form.IsValid)
        {
            StateHasChanged();
            return;
        }

        _isLoading = true;
        StateHasChanged();

        await Task.Run(async () =>
        {
            var repoRoot = GetRepoPath();

            if (MLModel.Model == PredictionModelType.CSharp)
            {
                Prediction = await PredictWithTorchSharp(repoRoot);
            }
            else
            {
                Prediction = await PredictWithOnnx(repoRoot);
            }
        });

        _isLoading = false;
    }

    private async Task<LungCancerPredictionModel> PredictWithTorchSharp(string repoRoot)
    {
        if (_file == null) return null!;

        const int imgSize = 256;
        var modelPath = Path.Combine(repoRoot, "models", "lung-cancer-prediction", "csharp", "lung-cancer-model.weights");

        var resizedFile = await _file.RequestImageFileAsync("image/png", imgSize, imgSize);
        using var stream = resizedFile.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024);
        using var image = await SixLabors.ImageSharp.Image.LoadAsync<SixLabors.ImageSharp.PixelFormats.L8>(stream);

        var floatData = new float[imgSize * imgSize];
        for (int y = 0; y < imgSize; y++)
            for (int x = 0; x < imgSize; x++)
                floatData[y * imgSize + x] = image[x, y].PackedValue / 255.0f;

        var model = Sequential(
            ("conv2d", Conv2d(in_channels: 1, out_channels: 64, kernel_size: 3)),
            ("relu1", ReLU()),
            ("maxpooling2d1", MaxPool2d((2, 2))),
            ("conv2d2", Conv2d(in_channels: 64, out_channels: 64, kernel_size: 3)),
            ("relu2", ReLU()),
            ("maxpooling2d2", MaxPool2d((2, 2))),
            ("flatten", Flatten()),
            ("dense1", Linear(inputSize: 246016, outputSize: 16)),
            ("dense2", Linear(inputSize: 16, outputSize: 3))
        );

        model.load(modelPath);
        model.eval();

        using var input = torch.tensor(floatData).reshape(1, 1, imgSize, imgSize);
        using var output = model.forward(input);
        using var probs = softmax(output, dim: 1);
        var scores = probs.data<float>().ToArray();

        return new LungCancerPredictionModel
        {
            BenignScore = scores[0],
            MalignantScore = scores[1],
            NormalScore = scores[2]
        };
    }


    private async Task<LungCancerPredictionModel> PredictWithOnnx(string repoRoot)
    {
        if (_file == null)
            return null!;

        var modelPath = Path.Combine(repoRoot, "models", "lung-cancer-prediction", "python", "lung_cancer_prediction.onnx");

        const int imgSize = 256;

        var resizedFile = await _file.RequestImageFileAsync("image/png", imgSize, imgSize);
        using var stream = resizedFile.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024);
        using var image = await SixLabors.ImageSharp.Image.LoadAsync<SixLabors.ImageSharp.PixelFormats.L8>(stream);

        var floatData = new float[imgSize * imgSize];
        for (int y = 0; y < imgSize; y++)
            for (int x = 0; x < imgSize; x++)
                floatData[y * imgSize + x] = image[x, y].PackedValue / 255.0f;

        using var session = new InferenceSession(modelPath);
        var inputName = session.InputMetadata.Keys.First();
        var tensor = new DenseTensor<float>(floatData, [1, imgSize, imgSize, 1]);
        var inputs = new List<NamedOnnxValue> { NamedOnnxValue.CreateFromTensor(inputName, tensor) };

        using var results = session.Run(inputs);
        var scores = results[0].AsEnumerable<float>().ToArray();

        return new LungCancerPredictionModel
        {
            BenignScore    = scores[0],
            MalignantScore = scores[1],
            NormalScore    = scores[2]
        };
    }

    private string GetRepoPath()
    {
        return Path.GetFullPath(Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "..", "..", "..", ".."));
    }
}
